.editors {
  grid-area: editors;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 1.4em #00000030;
  width: 90%;
  min-height: 100px;
  transition: 0.4s all;
  margin-bottom: 30px;

  header {
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px 10px 0 0;
    transition: 0.4s all;
    color: white;
  }
}

.eliminated {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px 30px 5px;
  margin: 25px 0;
  text-align: center;

  img {
    width: 50px;
    height: 50px;
  }
}

.employee-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 10px;
  @include hide-scrollbar();

  .field {
    margin: 6px;
    padding: 10px;
    border-bottom: 1px solid $orange;
    width: 90%;
    margin: 8px auto;
  }
}

@media (min-width: 600px) {
  .editors {
    width: 70%;
  }
}

@media (min-width: 900px) {
  .editors {
    width: 80%;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .editors {
    width: 70%;
  }
}

@media (min-width: 1800px) {
  .editors {
    width: 60%;
  }
}
