.navbar {
  width: 75%;
  margin: 0 auto;
  padding: 30px 0 20px;
  grid-area: navbar;
  text-align: center;

  button {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    transition: all 0.4s;
    box-shadow: 4px 4px 1em #00000030;

    &:hover {
      background-color: white;
      box-shadow: 4px 4px 2em #00000060;
      color: $green;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}
